.dashboard{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #adbbda;
}

.title-dash {
    font-size: 50px;
    margin: 4rem 0 0 4rem;
}

.cards-container {
    display: flex;
    gap: 3rem;
    margin: 4rem 0 0 8rem;

}